.about-section h1 {
  text-align: center;
  text-decoration: underline;
}

.about-container {
  margin: 50px auto;
  border: 1px dashed #0d6efd;
}
.about-section p {
  margin: 20px 0;
  text-align: justify;
}
